.container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  gap: 10px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item {
  background-color: red;
  height: 120px;
  font-size: 5rem;
  text-align: center;
}

.players {
  text-align:  center;
  font-size: 2rem;
  margin-top: 4.3rem;
}